# macOS
.DS_Store

# Virtual Environment
.venv/
venv/
ENV/
env/

# Python Cache & Compiled Files
**/__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.ipynb_checkpoints/

# Heavy Video & Media Assets
videos/
*.mp4
*.avi
*.mov
*.mkv
*.jpg
*.jpeg
*.png

# Deep Learning / YOLO Artifacts & Datasets
dataset/
runs/
*.pt
*.onnx
*.engine
